body {
    margin: 0;
    padding: 0;
}
header {
    background: white;
    height: 3.5rem;
    width: 100%;
    box-shadow: 0 2px 0 0 #c5c5cb;
    display: grid;
    grid-template-columns: 1.5rem 1rem auto 1.5rem;
    align-items: center;
}

nav {
    grid-column-start: 3;
    display: inline-grid;
    grid-template-columns: 6rem auto 2.5rem 2.5rem;
    align-items: center
}

header > img {
    height: 1.5rem;
    grid-column-start: 2;
    align-self: center;
}

h1 {
    justify-self: center;
    font-size: 1.3rem;
    font-weight: 800;
    grid-column-start: 2;

}

a[href="Login.html"] img,
img[alt="search icon"] {
    height: 2rem;
    padding: 0.2rem;
}

img[alt="search icon"] {
    grid-column-start: 3;
    justify-self: end;
    align-self: center;
}
a[href="Login.html"] img {
    grid-column-start: 4;
    align-self: center;
}

input[type="text"] {
    background-color: #e6e6e9;
    border: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}